.top-bar-left {
    padding: 0px !important;
}

.menu-text {
    padding: 0px !important;
}

.top-bar {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 3px 3px 10px #555;
}

.site-title {
    background-color: transparent !important;
    font-family: 'Lobster', cursive;
    color: #eee;
    text-decoration: none;
    text-shadow: -5px 8px 7px #000;
    font-size: 2.5em;
    vertical-align: middle !important;
}

.site-title:active, .site-title:hover, .site-title:visited {
    color: #eee;
    text-decoration: none;
}

.top-bar-right{
    vertical-align: middle !important;
    padding-top: 10px;
}

.top-bar-right a, .top-bar-right a:active {
    color: #eee;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
}

.top-bar-right a:hover {
    transform: scale(1.1);
    text-transform: uppercase;
    color: #eee;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
}