{% if page.header-background %}
    <header class="site-header" style="background-image: url({{ page.header-background }});">
{% else %}
        <header class="site-header" style="background-image: url({{ page.default-background }});">
{% endif %}

    <div class="top-bar">
        {% if page.title %}
       <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="top-bar-right">
            <form class="isotope-toolbar">
                <ul class="menu" id="filters">
                    <li><a  href="{{site.baseurl}}#One" class="filter" rel="*" name="isotope-filter">One</a></li>
                    <li><a  href="{{site.baseurl}}#Two" class="filter" rel=".geek" name="isotope-filter">Two</a></li>
                    <li><a  href="{{site.baseurl}}#Three" class="filter" rel=".random" name="isotope-filter">Three</a></li>
                    <li><a  href="{{site.baseurl}}#Four" class="filter" rel=".entertainment" name="isotope-filter">Four</a></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns title-container">            
            {% if page.title %}
                <h1 class="header-post-title"><span>{{ page.title }}</span></h1>
                {% if page.summary %}
                    <p class="summary">{{ page.summary }}</p>
                {% endif %}
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
            {% else %}
                <h1 class="site-title">{{ site.title }}</h1>
            {% endif %}
        </div>
    </div>
</header>